/* My name in Navbar... */

#myName {
  font-size: larger;
  margin-top: 10px;
  font-weight: bold;
  color: whitesmoke
}

/* Dividing line... */

hr.solid {
  border-top: 2px solid rgb(212, 96, 96);
}

/* Elements in the 'About Me' page... */

.floatleft {
  float: left;
}

.indexContent img {
  margin-top: 10px;
  margin-right: 10px;
  width: 350px;
  height: 350px;
}

.indexContent p {
  text-align: left;
  margin-top: 3px;
}

/* Elements in the 'Portfolio' page... */

.portfolioImages img {
  margin: 5px;
  border: grey solid 2px;
}

.cropped {
  width: 350px;
  height: 350px;
  object-fit: cover;
  object-position: 50%;
}

/* .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(212, 96, 96);
}

.overlay-img:hover .overlay {
  opacity: .85;
}

.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
} */

/* Elements in the 'Contact' page... */

.contactItems p {
  margin: 20px;
}

/* Media query for Small & X-Small windows... */
@media only screen and (max-width: 768px) {
  .floatleft {
      float: none;
      margin: auto;
  }
  .indexContent {
      text-align: center;
  }

  .portfolioImages {
      text-align: center;
  }

  h1 {
      margin-left: 12px;
  }

  p {
      margin-left: 12px;
      margin-right: 12px;
  }
}

/* Media query for only X-Small windows... */
@media only screen and (max-width: 576px) {
  .navbar-nav {
      flex-direction: row;
  }
  .nav-item {
      margin: 10px;
  }
}

/* Media query for mobile devices... */
@media only screen and (max-width: 400px) {
  .navbar-nav {
      margin: auto;
  }
  #myName {
      margin: auto;
  }
  .center-mobile {
      margin: auto;
  }
}